<!DOCTYPE html>
<head>
	<title>Sehat</title>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div class="container">
        <div id="content" class="content">
            {{{ body }}}
        </div>	
	</div>
</body>
</html>
