.container{
    display: flex;
    height: 99vh;
    justify-content: center;
    align-items: center;
    background: url("./pattern.svg");
    background-size: cover;
}
.underConstruction{
    color: var(--alternate-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    background-color: var(--std-white);
    width: 100%;
}