<!DOCTYPE html>
<html lang="en">

{{!-- <head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard</title>
    <style>
        .page-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--size-6);
            box-sizing: border-box;
        }
        h1{
            color: var(--main-color);   
        }
        .dashboard-container{
        
        button {
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: var(--main-color);
            color: white;
            cursor: pointer;
        }

        .dashboard-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--size-6);
            box-sizing: border-box;
        }
    </style>
</head> --}}

<body>
    <div class="page-container">
        <div class="dashboard-container">
            <h1>Doctor Dashboard</h1>
            <div>
                <button onclick="location.href='/create-prescriptions'" class="std-button">Create Prescriptions</button>
                <button onclick="location.href='/view-appointments'" class="std-button" >View Appointments</button>
            </div>
        </div>
    </div>
</body>

</html>