<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>Error {{errorCode}} </h1>
    <h2>{{errorMessage}}</h2>
</body>
<style>
    h2{
        text-align: center;
    }
</style>
</html>