<div class="page-container">
  <h1>Sehat</h1>
<div id="app">
</div>
</div>
<script>
  window.addEventListener("load", async function () {
    await Clerk.load();

    // Check if a user is already signed in
    if (Clerk.user) {
      // If a user is signed in, redirect to the dashboard or relevant page
      Clerk.navigate('/');

      document.getElementById("app").innerHTML = `
        <div id="user-button"></div>
      `;

      const userButtonDiv = document.getElementById("user-button");
      Clerk.mountUserButton(userButtonDiv);
    } else {
      document.getElementById("app").innerHTML = `
        <div id="sign-in"></div>
      `;

      const signInDiv = document.getElementById("sign-in");

      // Mount the sign-in component and specify redirection after sign-in
      Clerk.mountSignIn(signInDiv, {
        afterSignIn: () => Clerk.navigate('/') // Redirect after successful sign-in
      });
    }
  });
</script>

<style>
  .page-container{
    gap: var(--size-6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
  }
</style>