
<div class="page-container login-page">
    <div class="container">
        <div class="left">
            <h1 class="branding">Sehat</h1>
            <img src="../../Front/src/assets/login_doctor.svg" alt="Sehat Logo" />
        </div>
        <div class="right">
            <h3 class="loginButton">Login</h3>
            <div class="loginContainer">
                <h2>Create an account</h2>
                <h5>Enter your email below to create your account</h5>
                <input type="email" placeholder="johndoe@example.com" class='std-input'/>
                <button class='std-button'>Create Account</button>
            </div>
        </div>
    </div>
</div>
</div>
<script>
  window.addEventListener("load", async function () {
    await Clerk.load();

    // Check if a user is already signed in
    if (Clerk.user) {
      // If a user is signed in, redirect to the dashboard or relevant page
      Clerk.navigate('/');

      document.getElementById("app").innerHTML = `
        <div id="user-button"></div>
      `;

      const userButtonDiv = document.getElementById("user-button");
      Clerk.mountUserButton(userButtonDiv);
    } else {
      document.getElementById("app").innerHTML = `
        <div id="sign-in"></div>
      `;

      const signInDiv = document.getElementById("sign-in");

      // Mount the sign-in component and specify redirection after sign-in
      Clerk.mountSignIn(signInDiv, {
        afterSignIn: () => Clerk.navigate('/') // Redirect after successful sign-in
      });
    }
  });
</script>

<style>
  .page-container{
    gap: var(--size-6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
  }
</style>
